<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>Country List</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Countries</h1>
		</div>
		<div class="col-md-4">
		<h3>Welcome</h3>
	</div>
		<div class="col-md-4" style="padding:20px 0">
			
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
				    <th>Name</th>
				    <th>Continent</th>
				    <th>Founded Year</th>
				    <th>Country Code</th>
				    <th>Population</th>
				</tr>  
			</thead>
			<tbody>
				<tr th:each="country : ${countries}">
					<td th:text="${country.getname}"></td>
					<td th:text="${country.getcontinent}"></td>
					<td th:text="${country.getFoundedYear}"></td>
					<td th:text="${country.getcountryCode}"></td>
					<td th:text="${country.getpopulation}"></td> 
				<td><a th:href="@{/editcountry/{id}(id=${country.id})}"
					class="btn btn-success">Edit</a></td>
				<td><a th:href="@{/deletecountry/{id}(id=${country.id})}"
					class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<br>
	<a href="/addcountry" class="btn btn-success">Add Country</a>
	</div>
</body>
</html>
